node_modules
docs/.vuepress/dist

nuxt-demo/node_modules
nuxt-demo/npm-debug.log
nuxt-demo/.nuxt
nuxt-demo/dist

vue-demo/.DS_Store
vue-demo/node_modules
vue-demo/dist
vue-demo/.env.local
vue-demo/.env.*.local
vue-demo/npm-debug.log*
vue-demo/yarn-debug.log*
vue-demo/yarn-error.log*
vue-demo/.idea
vue-demo/.vscode
vue-demo/*.suo
vue-demo/*.ntvs*
vue-demo/*.njsproj
vue-demo/*.sln
vue-demo/*.sw*
